@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #212121, #4b403a, #212121);
    min-height: 100vh;
    color: #fff;
}

.nav_bar {
    background-color: #212121;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    padding: 10px;
    cursor: pointer;
}

.nav_bar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_bar ul li {
    list-style: none;
    padding: 15px;
}

.nav_bar ul li a {
    text-decoration: none;
    color: greenyellow;
}

.searchBar {
    padding: 10px;
}

.searchBar .search{
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.submit_file {
    padding: 50px;
    margin-top: 200px;
    font-size: 20px;
    text-align: center;
    border: 5px solid green;
    border-width: 10px;
}

#display_image {
    margin-top: 50px;
    width: 380px;
    height: auto;
    background-position: center center;
    background-size: contain;
}

.submit_file #display_image input[type="submit"] {
    background-color: green;
    color: white;
    padding: 9px 20px;
    border: none;
    border-radius: 6px;
    margin-top: 9px;
    cursor: pointer;
  }

.saved-files {
    margin-top: 100px;
    text-align: center;
}