@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #212121, #4b403a, #212121);
    min-height: 100vh;
    color: #fff;
}

.nav_bar {
    background-color: #212121;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    padding: 10px;
    cursor: pointer;
}

.nav_bar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_bar ul li {
    list-style: none;
    padding: 15px;
}

.nav_bar ul li a {
    text-decoration: none;
    color: greenyellow;
}

.searchBar {
    padding: 10px;
}

.searchBar .search{
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.submit-file {
    margin-top: 200px;
    font-size: 30px;
    text-align: center;
    border: 3px solid green;
    border-width: 30px;
}

#display-image {
    width: auto;
    height: auto;
    border: 1px;
    background-position: center;
    background-size: cover;
}

.saved-files {
    margin-top: 100px;
    text-align: center;
}